<%- include('partials/header.ejs') %>

<h1>Home</h1>
<p>
  <%= msg %>
</p>
<% for(i = (blog.posts.length - 1); i >= 0; i--) { %>
<h2><%= blog.posts[i].title %></h2>
<p>
  <%= blog.posts[i].post %>
</p>
<p><i><small><%= blog.posts[i].date %></small></i></p>
<% } %>
<%- include('partials/footer.ejs') %>
